{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerRegistry": "harbor.visegue.se",
        "dockerProject": "visegue-public",
        "dockerLogin": false
      }
    ],
    [
      "semantic-release-helm",
      {
        "chartPath": "./helm/",
        "registry": "oci://harbor.visegue.se/visegue-public"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ['CHANGELOG.md', 'package.json', 'package-lock.json', 'helm/Chart.yaml', 'npm-shrinkwrap.json'
        ]
      }
    ]
  ],
  "branches": [
    "main",
    {
      "name": "rc",
      "prerelease": true
    }
  ]
}