# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Tear down preview

on:
  pull_request:
    types: [ closed ]

env:
  PR_TAG: "pr-${{ github.event.pull_request.number }}"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Tear down preview 
      run: |
          echo "Tear down preview for ${{ env.PR_TAG}}"
